<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/axios/dist/axios.js"></script>
  <script src="BooksApp.js"></script>
</head>
<body>
  <div id="books-app">
      <input type="text" v-model="book.title">
      <button v-on:click="addBook">add</button>

      <p>Books</p>

      <ul>
        <li class="book-summary" v-for="book in books">
            {{book.title}}
        </li>
      </ul>
  </div>

  <script>
    new BooksApp();
  </script>
</body>
</html>
